Q1:calculate and print the minimum maximum,sum,mean and standard deviation of an array

In [1]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print("Minimum: ", np.min(arr))
print("Maximum: ", np.max(arr))
print("Sum: ", np.sum(arr))
# Calculate and print the mean standard deviation
print("Mean: ", np.mean(arr))
print("Standard Deviation: ", np.std(arr))

Minimum:  1
Maximum:  5
Sum:  15
Mean:  3.0
Standard Deviation:  1.4142135623730951

In [ ]:
#Q2:
# health_data = np.array([[160, 70, 30],   # height, weight, age for individual 1
                        [165, 65, 35],   # height, weight, age for individual 2
                        [170, 75, 40]])  # height, weight, age for individual 3

In [5]:
#QNO4
import numpy as np
start_temp = 15
end_temp = 25

# Number of measurements
num_measurements = 24
temperature_readings = np.linspace(start_temp, end_temp, num_measurements)

print(temperature_readings)

[15.         15.43478261 15.86956522 16.30434783 16.73913043 17.17391304
 17.60869565 18.04347826 18.47826087 18.91304348 19.34782609 19.7826087
 20.2173913  20.65217391 21.08695652 21.52173913 21.95652174 22.39130435
 22.82608696 23.26086957 23.69565217 24.13043478 24.56521739 25.        ]

In [6]:
#Q6
import numpy as np
mean = [0, 0]
cov = [[1, 0.5], [0.5, 2]]

samples = np.random.multivariate_normal(mean, cov, 100)

print(samples)

[[ 6.86402025e-01  5.10592147e-01]
 [ 5.70091554e-01  4.82262377e-01]
 [-4.66385112e-02 -7.77899408e-01]
 [-1.08955645e+00 -2.17181403e+00]
 [ 1.20853475e+00  2.94697944e+00]
 [-2.97778704e-01  9.99177013e-01]
 [ 3.59609471e-01  9.46879070e-01]
 [ 3.30745396e-01 -3.94758834e-01]
 [ 1.19549659e+00 -3.73549564e-01]
 [ 8.58230649e-01 -1.31150689e+00]
 [-1.16327057e+00  3.07161212e-02]
 [ 1.02805607e+00 -5.07214715e-02]
 [-2.02725725e+00  9.77165917e-01]
 [-1.15448699e-01 -2.91951189e-01]
 [ 1.17468962e-01  1.52087283e+00]
 [ 6.97282688e-01  9.14834517e-01]
 [ 5.31311521e-01 -1.17612502e+00]
 [-1.62523845e+00 -1.85265879e+00]
 [-1.52741649e+00 -2.87677382e+00]
 [ 1.14722664e-01 -1.35916149e+00]
 [-6.69067395e-01 -1.76157323e+00]
 [ 1.85980902e-02  1.55842499e+00]
 [-2.13803915e-01 -4.46087338e-01]
 [ 5.75890899e-01 -1.83924169e-01]
 [-1.60542576e-01  7.81877841e-01]
 [ 4.61928782e-01 -9.12275361e-02]
 [ 1.04912569e+00  5.67709322e-01]
 [ 4.25554977e-01  2.11488215e-01]
 [-4.93639004e-01  6.74955027e-03]
 [-9.65212089e-02 -4.40220407e-01]
 [-9.68320475e-01 -2.48451100e+00]
 [-8.92716406e-02  1.30484680e+00]
 [-7.25037628e-01  3.80826821e+00]
 [ 6.58687037e-01  1.34239886e+00]
 [-2.94027809e-01  6.70957181e-01]
 [ 1.88682146e+00  1.46444988e+00]
 [ 2.14078737e+00  7.59893021e-01]
 [-1.47764797e-01  1.16286511e-01]
 [ 2.80313627e+00  7.41123639e-01]
 [ 1.41751979e+00  1.15129317e-01]
 [-9.59533602e-02 -8.85275198e-01]
 [-4.15072644e-01 -2.66479548e-02]
 [-2.98750396e-01  1.22103520e-01]
 [-6.12827817e-02 -2.67900798e-01]
 [-6.08734470e-01 -1.74848233e+00]
 [-2.45048455e+00 -3.62783220e-01]
 [-3.09820797e-01  2.48546549e+00]
 [-2.31737861e-01  6.34502902e-01]
 [-1.18451466e+00 -2.74025430e-01]
 [-1.15404320e-01  4.90557313e-01]
 [-2.71072691e-01 -4.46509842e-01]
 [-5.71523727e-02 -1.66128686e-01]
 [ 4.38723373e-01 -3.41740816e-01]
 [ 9.21961694e-01  6.18833929e-01]
 [ 1.80471685e-01 -2.69561030e+00]
 [ 6.69266183e-02 -1.10180905e+00]
 [-8.56529373e-01 -3.06774179e+00]
 [ 1.81696160e+00  3.25928007e+00]
 [-9.88418822e-02 -2.12168527e+00]
 [-8.09071944e-01 -1.87697669e+00]
 [ 5.50260850e-01  1.54714482e+00]
 [-1.45423764e+00 -1.15356188e+00]
 [ 1.28370035e+00  2.24079588e+00]
 [-4.48933293e-01  8.61990986e-01]
 [ 1.23947240e+00  2.77631189e+00]
 [ 3.25581271e-01 -1.60932449e+00]
 [-9.84446579e-01 -1.27513521e+00]
 [-1.54862908e+00 -5.79108645e-01]
 [ 2.19538418e-01 -2.31811304e-01]
 [ 5.36163224e-01  7.32450003e-02]
 [-1.22224436e+00 -9.29738149e-01]
 [-9.98916447e-01  8.23801000e-01]
 [ 4.78113401e-01 -1.15531004e+00]
 [ 6.01498640e-01  1.14027138e+00]
 [ 1.03337650e+00  2.58251924e+00]
 [ 3.43793173e-01  1.57357973e+00]
 [-5.67716677e-02  1.02831063e+00]
 [ 6.14879997e-02  1.57620741e+00]
 [-8.65142408e-01  2.32075620e+00]
 [-4.67550139e-01 -2.30053076e-01]
 [ 5.56340479e-01 -4.45098597e-01]
 [-3.12159249e-02 -1.44170242e-02]
 [-8.40816563e-02  7.72729234e-01]
 [ 7.96341043e-01  5.76149102e-01]
 [ 1.80699075e-01  1.77853137e+00]
 [ 9.75875749e-01  3.06515992e+00]
 [-2.06619176e-01  2.32789096e+00]
 [ 1.81075780e-03  3.61462986e-01]
 [ 1.32678602e+00  2.73214452e+00]
 [ 4.87421322e-01  9.66723881e-01]
 [-1.23239932e+00 -1.62281066e+00]
 [-6.12512519e-01 -6.77602799e-02]
 [ 6.99343245e-02  6.82350180e-01]
 [-9.51645635e-01  1.96928705e+00]
 [-1.41524255e+00  1.58374237e-01]
 [-2.98015273e-01 -9.48334481e-01]
 [ 2.43795181e-01 -2.54636205e+00]
 [-1.03425956e-01  1.90577458e+00]
 [-5.43742515e-01  1.08388487e+00]
 [-1.25007269e-01 -1.48401212e+00]]

In [ ]:
#Q8:
import numpy as np
array = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print("Original Array:")
print(array)
#  filter out numbers greater than 5
filtered_array = array[array > 5]
print("Filtered Array:")
print(filtered_array)

In [ ]:
#15
student_data = [
    {"StudentID": 1, "Subject": "Math", "Grade": 88},
    {"StudentID": 2, "Subject": "Science", "Grade": 92},
    {"StudentID": 3, "Subject": "History", "Grade": 85},
    {"StudentID": 4, "Subject": "Math", "Grade": 87},
    {"StudentID": 5, "Subject": "Science", "Grade": 90},
    {"StudentID": 6, "Subject": "History", "Grade": 82},
    {"StudentID": 7, "Subject": "Math", "Grade": 85},
    {"StudentID": 8, "Subject": "Science", "Grade": 91},
    {"StudentID": 9, "Subject": "History", "Grade": 84},
    {"StudentID": 10, "Subject": "Math", "Grade": 89}
]

subject_data = {}
for student in student_data:
    subject = student["Subject"]
    grade = student["Grade"]
    if subject not in subject_data:
        subject_data[subject] = {"total_grade": grade, "count": 1}
    else:
        subject_data[subject]["total_grade"] += grade
        subject_data[subject]["count"] += 1
for subject, data in subject_data.items():
    average_grade = data["total_grade"] / data["count"]
    print(f"The average grade for {subject} is {average_grade:.2f}")

In [ ]:
#Q13
import pandas as pd

data = [
    {"TeamID": 1, "GamesPlayed": 10, "Wins": 7},
    {"TeamID": 2, "GamesPlayed": 10, "Wins": 6},
    {"TeamID": 3, "GamesPlayed": 10, "Wins": 8},
    {"TeamID": 4, "GamesPlayed": 10, "Wins": 5},
    {"TeamID": 5, "GamesPlayed": 10, "Wins": 9},
    {"TeamID": 6, "GamesPlayed": 10, "Wins": 6},
    {"TeamID": 7, "GamesPlayed": 10, "Wins": 7},
    {"TeamID": 8, "GamesPlayed": 10, "Wins": 4},
    {"TeamID": 9, "GamesPlayed": 10, "Wins": 9},
    {"TeamID": 10, "GamesPlayed": 10, "Wins": 5}
]

df = pd.DataFrame(data)
df['WinPercentage'] = df['Wins'] / df['GamesPlayed']
strengths = df[df['WinPercentage'] > 0.5]
weaknesses = df[df['WinPercentage'] <= 0.5]
print("Strengths:")
print(strengths)

print("\nWeaknesses:")
print(weaknesses)

In [ ]:
#Q11

import pandas as pd

# Given data
data = {
    'Product': ['Apples', 'Bananas', 'Cherries', 'Dates', 'Elderberries', 'Flour', 'Grapes'],
    'Category': ['Fruit', 'Fruit', 'Fruit', 'Fruit', 'Fruit', 'Bakery', 'Fruit'],
    'Price': [1.20, 0.50, 3.00, 2.50, 4.00, 1.50, 2.00],
    'Promotion': [True, False, True, True, False, True, False]
}

df = pd.DataFrame(data)
fruit_df = df[df['Category'] == 'Fruit']e
average_price = fruit_df['Price'].mean()
result = fruit_df[(fruit_df['Price'] > average_price) & (fruit_df['Promotion'] == False)]
# Print the result
print(result)

In [ ]:
#Q7: